
   .pinch-zoom-container
        {
           left: -40px;
        }
        
   .collapse {
	    display: none; 
            position: absolute;
            overflow: hidden;
           
                  }
     #collapse1 {
          /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 460px;
             left: 183px;
                  }
    #collapse2 {
            /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 118px;
             left: 180px;
                  }
     #collapse3 {
           /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 70px;
             left: 174px;
                  }

      #collapse4 {
            /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 171px;
             left: 170px;
                  }
       #collapse5 {
           /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 360px;
             left: 165px;
                  }
      #collapse8 {
            /* display: none;  */ 
            position: absolute;
            overflow: hidden;
             top: 80px;
             left: 180px;
                  }

        #collapse6 {
            /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 450px;
             left: 194px;
                  }

        #collapse7 {
            /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 520px;
             left: 187px;
                  }
         
        #collapse9 {
           /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 178px;
             left: 190px;
                  }
       #collapse10 {
           /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 323px;
             left: 181px;
                  }
        #collapse11 {
          /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 48px;
             left: 187px;
                  }
        #collapse12 {
            /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 85px;
             left: 182px;
                  }

       #collapse13 {
            /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 410px;
             left: 188px;
                  }

       #collapse14 {
          /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 162px;
             left: 157px;
                  }
       #collapse15 {
           /* display: none;  */ 
            position: absolute;
            overflow: hidden;
             top: 212px;
             left: 178px;
                  }
	#collapse17 {
            /* display: none;  */
            position: absolute;
            overflow: hidden;
             top: 227px;
             left: 215px;
                  }
	 #collapse16 {
            /* display: none;  */ 
            position: absolute;
            overflow: hidden;
             top: 500px;
             left: 168px;
                  } 